<script type="text/javascript">
  var d = document.getElementById("about");
  d.className = d.className + " active";
  </script>



<!DOCTYPE html>
<html>
<head>
<style>
h1 {
    text-indent: 50px;
    text-transform: lowercase;
    color: #424242;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	text-align:center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 16pt;
	font-variant: small-caps;
       

}
h2 {
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: normal;
        font-size: 1.75em;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px;
	text-align: center;
	text-transform: uppercase;
    text-decoration: underline;

}

</style>
</head>
</html>






<div class="page-header">
	<h2><div align="center"> Who we are? </div></h2>

</div>

<h1>We are a company that provides IT solutions & Nice software products. Our primary goal is to combine creativity and experience to develop and deliver quality information Technology solutions.</h1>

			
<div class="page-header">
	<h2><div align="center"> What we gonna make next? </div></h2>

</div>				

				<h1>shortly we will launch Desktop application linked to CloudJoin. 
				Game developing Line with the rip of huge range of online gamming is also included in pre-plans.</h1>
<div class="page-header">
	<h2><div align="center">How we started?</div></h2>

</div>
				<h1>Started as individual to create new and safe envoirement for our clints to make them free and safer with us.
				Thunder Cloud started by IdeaSoft pvt. ltd. developing as new and fine developers just to deliver innovation CloudJoin team is working 24/7 on it to make our site easy and secure</h1> 

<div class="page-header">
	<h2><div align="center">What we value?</div></h2>

</div>
			<h1> We create products that are easy to use and are built on trust. When people put their files in there  Dropbox, One drive accounts and GMails , they can trust they’re secure and their data is their own because we even dont save tickle from files and passwords. Our users’ privacy has always been our first priority, and it always will be.</h1>

<div class="page-header">
	<h2><div align="center">Its all about</div></h2>

</div>
			<h1>
				Developing new, Exciting, Free and Safe
				we are available to help you all the time.
				Trust matters for us.
				keep connected with us for our more new exciting apps</h1>
<div class="page-header">
	<h2><div align="center"> Find us at</div></h2>

</div>
			<h1>Facebook,or Email us at CloudJoin@ideasot.com</h1>
		



		

