<script type="text/javascript">
  var d = document.getElementById("contact");
  d.className = d.className + " active";
  </script>


<!DOCTYPE html>
<html>
<head>
<style>
h1 {
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	font-size: 16pt;
	font-variant: small-caps;
       

}
h2 {
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: normal;
    font-size: 1.75em;
	letter-spacing: .2em;
	text-transform: uppercase;
	text-decoration: underline;
	line-height: 3em;
}

</style>
</head>
</html>

<div class="row">
	<div class="col-md-7">
		<h2>Contact us</h2>
		<h1>24/7 support</h1>
		<h1>call us at +1-646-257-4508</h1>
		<h1 style="text-decoration:underline;">locate us at</h1>
		<h1>2nd floor, office 41 , Arfa kareem tower feroz pur road lahore pakistan</h1>
		<h1 style="text-decoration:underline;">E-mail at</h1>
		<h1>thundercloud@ideasoft.org</h1>
	</div>
	<div class="col-md-5">
		<div style="width:530px;height:443px;padding:5px; background-color:#666; border-radius:5px;"><iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="520" height="433" src="https://maps.google.com/maps?hl=en&q=Arfa kareem tower lahore pakistan&ie=UTF8&t=roadmap&z=17&iwloc=B&output=embed"></iframe></div>
	</div>
</div>