<script type="text/javascript">
  var d = document.getElementById("faq");
  d.className = d.className + " active";
  </script>




<div class="container">
    <br />
   <!-- <br />-->

    <div class="panel-group" id="accordion">
        <div class="page-header"><h1><div align="center">Frequently Asked Questions</div></h1></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><div align="left"><strong>Is account registration required?</strong></div></a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div align="center">Account registration at <strong>Thundercloud</strong> is required if you want to join your accounts it is only way to provide security.</div> 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><div align="left"><strong>How to recover lost <em> Thundercloud</em> password?</strong></div></a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body"><div align="center">Simply go to <span class="label label-info">Login</span> page then click <span class="label label-info">Forgot Password</span> enter your vlaid recovery <span class="label label-info">E-Mail</span> address you provided at the time of Sigh_up and verify the link.</div>
                     
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> <div align="left"><strong>How much accounts of each cloud provided can i enter?</strong></div></a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                   <div align="center">No limit to enter clouds you should remember all passwords in case of emergency if they are many.</div> 
                </div>
            </div>
        </div>
<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><div align="left"><strong>How to select and delete my files?</strong></div></a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body"><div align="center">Go to <span class="label label-info">home page</span> at the top selection select <span class="label label-info">files</span> select <span class="label label-info">action</span> from that button to perform deletion.
                </div>
                    </div>
            </div>
        </div>


<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><div align="left"><strong>Can i access thundercloud on my mobile phone?</strong></div></a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body"><div align="center">Our site is very light weight and simple to handle. You can handle it by using your mobile web browser. Soon Thundercloud android app will also be launched.</div>
                    
                </div>
            </div>
        </div>


<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><div align="left"><strong>How to select and delete my files?</strong></div></a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body"><div align="center">Go to <span class="label label-info">home page</span> at the top selection select <span class="label label-info">files</span> select <span class="label label-info">action</span> from that button to perform deletion.</div>
                    
                </div>
            </div>
        </div>

        	 <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"><div align="left"><strong>Can i access thundercloud on my mobile phone?</strong></div></a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body"><div align="center">Our site is very light weight and simple to handle. You can handle it by using your mobile web browser. Soon Thundercloud android app will also be launched.
                </div>
                    </div>
            </div>
        </div>

         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight"><div align="left"><strong>How to select and download my files?</strong></div></a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body"><div align="center">Same method to delete, select files and select an action from there to download files.</div>
                    
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine"><div align="left"><strong>What does an error message against each cloud means?</strong></div></a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body"><div align="center">If there is an <strong>error</strong> given for any cloud account? this simply means that you might have changed actual password of your cloud or logged in from another device or area and our system not able to handle that password anymore.</div>
                    
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen"><div align="left"><strong>What is the solution if i got error in cloud? </strong></div></a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body"><div align="center">Remove that cloud by going <span class="label label-info">add clouds</span> and select cloud that got problem and remove that cloud and just re-enter as a new user pwd that password you have changed in your actual cloud.</div>
                    
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven"> <div align="left"><strong>Are my files safe if i got problem with any cloud that is not accessible by Thundercloud?</strong></div></a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body"><div align="center">All of the user files that are uploaded correctly are safe and sound even that are not being accessed by thundercloud due to some errors in your main cloud account. Dont worry about that.</div> 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve"><div align="left"><strong>What if Thundercloud still cannot access that cloud?</strong></div></a>
                </h4>
            </div>
            <div id="collapseTwelve" class="panel-collapse collapse">
                <div class="panel-body"><div align="center">Then it will be recomended to access your specific account seperately by <span class="label label-info">loging in</span> and find out your password <span class="label label-info">Thundercloud</span> dont access these things. and also make your security little lesser if it is too tight.</div>
                    
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen"><div align="left"><strong>Do thunderCloud <span class="label label-info">remember</span> our Cloud passwords?</strong></div></a>
                </h4>
            </div>
            <div id="collapseThirteen" class="panel-collapse collapse">
                <div class="panel-body"><div align="center">Thundercloud don't save any kind of password of our client because of safety feature. Even our developers dont know because of encrypted password feature of Ruby programming language.</div>
                     
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen"><div align="left"><strong>Can i access my backed-up contacts?</strong></div></a>
                </h4>
            </div>
            <div id="collapseFourteen" class="panel-collapse collapse">
                <div class="panel-body"><div align="center">Thundercloud is designed to browse and do some other actions related to your files and folders among your multiple clouds it cannot access backups and we also dont save anything. Even you also cannot access your backups by self on your cloud it is imported via mobile phones only.</div>
                    
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen"><div align="left"><strong>Do thundercloud downloads files first before display?</strong></div></a>
                </h4>
            </div>
            <div id="collapseFifteen" class="panel-collapse collapse">
                <div class="panel-body"><div align="center">No! it shows files direct from your cloud there is no in-between storage is being used.</div>
                    
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen"><div align="left"><strong>Those files i have deleted can i recover them later?</strong></div></a>
                </h4>
            </div>
            <div id="collapseSixteen" class="panel-collapse collapse">
                <div class="panel-body"><div align="center">we do not store any backups to ensure privacy for this simply go to your <span class="label label-info">cloud</span> storage in your account and find out <span class="label label-info">trash folder</span> there that might help you out. No files are available on our server after deletion.</div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .faqHeader {
        font-size: 30px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: ""; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 25px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
</style>