<script type="text/javascript">
  var d = document.getElementById("how");
  d.className = d.className + " active";
  </script>
<div class="page-header">
	<h1><div align="center">Getting Started... </div></h1>

</div>
<!--
<!DOCTYPE html>
<html>
<head>
<style>
p {
    text-indent: 50px;
    text-transform: lowercase;
    color: #424242;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	text-align:center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 16pt;
	font-variant: small-caps;
       

}
</style>
</head>
<body>

<p>In my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since. 'Whenever you feel like criticizing anyone,' he told me, 'just remember that all the people in this world haven't had the advantages that you've had.'</p>

<ul style='list-style-type:circle'><li><p>In my younger and more </p></li><li>android</li></ul>

</body>
</html>
<ul style='list-style-type:circle'><li>cofee, dool</li><li>android</li></ul>






<style
	text-indent: 50px;
    text-transform: lowercase;
    color: #424242;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	text-align:center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 16pt;
	font-variant: small-caps;>
	


font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: normal;
        font-size: 1.75em;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px;
	text-align: center;
	text-transform: uppercase;



	</style> -->


	<!DOCTYPE html>
<html>
<head>
<style>
h4 {

text-indent: 50px;
    text-transform: lowercase;
    color: #424242;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	text-align:center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 16pt;
	font-variant: small-caps;

    
}

</style>
</head>
<body>




	<ul>
			<h4>Thunder Cloud Makes Life Easier By Joining All Your Clouds Together	</h4>
			<h4>Go to <a href="<%= root_path %>">CloudJoin.com</a></h4>
			<h4>Click <a href="<%= new_user_registration_path %>">Sign_up</a>  if you didnt signed up yet?</h4>
			<h4><a href="<%= new_user_session_path %>">Sign_in</a> and start adding Clouds by going Add Clouds button	</h4>
			<h4>Click specific Cloud Icon on which your account exists</h4>
			<h4>Provide user name and password for specific cloud to sign in (we dont store anything)</h4>
			<h4>Repeat adding clouds if you wanna add more clouds	</h4>
			<h4>See your simple stored files at <a href="<%= root_path %>">home page</a></h4>
			<h4>Thats it Login only once. With multiple clouds from now onward...</h4>
			<h4>Easy to manage all clouds storage now	</h4>
			<h4>See Enhanced Storage miracle here.	</h4>

	</ul>
</body>

</html>

